	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="/">TaskSaucing</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
		<ul class="navbar-nav ml-auto">
			  <form class="form-inline">
				<a class="btn btn-outline-success" href="/Login" role="button">Login</a>		  
			</form>
	    </ul>
	</nav>

