  <!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="/">TaskSaucing</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
		<ul class="navbar-nav mr-auto">
			  <form class="form-inline">
				<% if (auth) { %>
					<li><a class="btn btn-outline-info" href="/dashboard" role="button">Dashboard</a></li>
				<% } %>
				<li><a class="btn btn-outline-info" href="/tasks" role="button">All tasks</a></li>
				<li><a class="btn btn-outline-info" href="/leaderboard" role="button">Leaderboard</a></li>
			</form>
		</ul>
    <ul class="navbar-nav ml-auto">
      <form class="form-inline">
				<% if (auth) { %>
					<a class="btn btn-outline-success" href="/premium" role="button">Become a premium user!</a>
					<a class="btn btn-outline-success" href="/logout" role="button">Logout</a>
				<% } else { %>
					<a class="btn btn-outline-success" href="/signuplogin" role="button">Login</a>
			  <% } %>
    </form>
  </ul>
	</nav>
