  <!-- Navigation -->
<<<<<<< HEAD
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="/dashboard">TaskSaucing</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
		<ul class="navbar-nav mr-auto">
			  <form class="form-inline">
        <li><a class="btn btn-outline-info" href="/dashboard" role="button">Look for task requests</a></li>
        <li><a class="btn btn-outline-info" href="/dashboard" role="button">Look for task offers</a></li>	  
			</form>
    </ul>
    <ul class="navbar-nav ml-auto">
      <form class="form-inline">
				<a class="btn btn-outline-success" href="/Register" role="button">Logout</a>		  
    </form>
  </ul>
	</nav>
=======
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="/">TaskSauce</a>
      <a class="btn btn-primary" href="/signuplogin">Sign In</a>
    </div>
  </nav>
>>>>>>> cdbdae5827e29fda6a348144533ef29f03488cd5
