<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>Login</title>
		
	<!-- CSS for Styling -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
	<!-- JavaScript for Interactivity -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

		<!-- ADDED JavaScript -->
		<script src="javascripts/loginScript.js"></script>
  </head>
  <body>
  	<%- include navbarforregister.ejs -%>
	<form class="form-horizontal" id = "html_form" action="register" role="form" method="POST">
	  <div class="container p-5">
	  	<h2>Not a registered user? Sign up here!</h2>
	    <div class="form-group col-md-6">
	      <label for="inputUsername4">Username</label>
	      <input type="text" class="form-control" name = "inputUsername4" id="inputUsername4" placeholder="Username">
	    </div>
	    <div class="form-group col-md-6">
	      <label for="inputEmail4">Email</label>
	      <input type="email" class="form-control" name = "inputEmail4" id="inputEmail4" placeholder="Email">
	    </div>
	    <div class="form-group col-md-6">
	      <label for="inputPassword4">Password</label>
	      <input type="password" class="form-control" name = "inputPassword4" id="inputPassword4" placeholder="Password">
	    </div>
	    <div class="form-group col-md-6">
	      <label for="inputPassword5">Confirm Password</label>
	      <input type="password" class="form-control" name = "inputPassword5" id="inputPassword5" placeholder="Confirm Password">
	    </div>
	  <button class="btn btn-primary" type="submit">Register</button>
	</form>
	
  </body>
</html>
